.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-radius: 1rem;
    width: 15rem;
    height: 20rem;
    background-color: white;
}